@media (max-width: 600px) {
    header {
        padding: 0;
    }

    header nav {
        justify-content: center;
        text-align: center;
        margin: 0;
        padding-top: 2.4rem;
        font-size: 20px;
    }

    header nav ul li {
        display: block;
        padding: 0 0 0.2rem 0;
    }

    .header-title {
        padding: 1rem 0 4rem 0;
    }

    .header-title h1 {
        font-size: 36px;
        padding-top: 1rem;
    }

    .header-title p {
        font-size: 18px;
    }

    .choose-us ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }

    .choose-us li {
        flex: 0 0 64%
    }

    .about-us,
    .team-description-wrapper {
        width: 75%;
    }

    .team-description p:nth-child(2) {
        padding: 0 3.1rem 2rem 3.1rem;
        font-size: 18px;
    }

    .team-description ul {
        padding: 0 1.4rem;
    }

    .team-description ul li img {
        width: 125px;
        height: 160px;
    }

    .team-description ul p:nth-child(3) {
        width: 22ch;
        font-size: 15px;
    }

    footer {
        font-size: 19px;
    }
}